* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.text-center {
    text-align: center;
}

.hero-area {
    background-image: url(image/bg-4.jpeg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-color {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;

}

.hero-title {
    color: red;
    font-size: 26px;
    font-weight: 700;
    padding-top: 17%;

}

.hero-paragraph {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-top: 1%;
    padding-bottom: 2%;
}

.hero-button a {
    text-decoration: none;
    color: red;
    background-color: azure;
    font-size: 16px;
    font-weight: 800;
    border: 1px whitesmoke solid;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 5px;

}

.hero-button a:hover {
    background-color: red;
    color: whitesmoke;
}

.box {
    display: flex;
    /* margin: -10% 5% 40%; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box-eliment {
    background-color: azure;
    width: 25%;
    margin-top: -15%;
    margin: 25px;
}

.box-icon {
    height: 80px;

}