* {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

.hero-area {
    background-image: url(image/bg-8.webp);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 20px;
}

.hero-title {
    color: azure;
}

.hero-paragraph {
    color: greenyellow;
}