body {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(image/bg-6.png);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;

}

nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.logo {
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: red;
}